<header class="bg-light py-5">
    <div class="d-flex justify-content-evenly container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">Olivetum</h1>
            <p class="lead fw-normal text-gray-700 mb-0">
                <em>&quot;Call me not olive before you see me gathered.&quot;</em>
            </p>
        </div>
        <div>
            <img src="{{ MEDIA_URL }}olive_branches_alpha.webp" alt="Olive tree branch">
        </div>
    </div>
</header>