<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fun-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fun
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fun-link">
                <a href="{% url 'products' %}?category=toys" class="dropdown-item">Toys</a>
                <a href="{% url 'products' %}?category=brain_teasers" class="dropdown-item">Brain Teasers</a>
                <a href="{% url 'products' %}?category=toys,brain_teasers" class="dropdown-item">All Fun</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Edibles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="edibles-link">
                <a href="{% url 'products' %}?category=oil" class="dropdown-item">Oil</a>
                <a href="{% url 'products' %}?category=food" class="dropdown-item">Food</a>
                <a href="{% url 'products' %}?category=oil,food" class="dropdown-item">All Food</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homeware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=craftsmanship" class="dropdown-item">Craftsmanship</a>
                <a href="{% url 'products' %}?category=ornaments" class="dropdown-item">Ornaments</a>
                <a href="{% url 'products' %}?category=craftsmanship,ornaments" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>