{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<main class="form-signin">
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
      <img class="mb-4" src="{{ MEDIA_URL }}icons/olive-oil.svg" alt="" width="48" height="48">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <div class="form-floating">
      <input type="text" name="login" class="form-control" placeholder="Username or E-Mail" id="id_login" autofocus-"autofocus" kl_vkbd_parsed="true" required>
      <label for="id_login">Username or e-mail</label>
    </div>

    <div class="form-floating">
      <input type="password" name="password" placeholder="Password" class="form-control" id="id_password" kl_vkbd_parsed="true" required>
      <label for="id_password">Password</label>
    </div>

    <div class="checkbox mb-3">
      <input id="id_remember" type="checkbox" name="remember" kl_vkbd_parsed="true"> Remember me
      <label for="id_remember"></label>
    </div>

    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
      {% trans "Forgot Password?" %}
    </a>
    <button class="primaryAction w-100 btn btn-lg btnD" type="submit">
      {% trans "Sign In" %}
    </button>

  </form>

  <p>
    {% blocktrans %}
      If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.
    {% endblocktrans %}
  </p>
</main>
{% endblock %}
