{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container header-container">
        <div class="row justify-content-evenly">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="shadow rounded card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="#">
                            <img class="shadow rounded card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0 fs-3 fw-bold">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <p class="container-fluid d-flex justify-content-evenly align-items-center text-center my-2">
                            <a href="{% url 'edit_product' product.id %}" class="text-info text-decoration-none mx-2">Edit</a> | 
                            <a class="text-danger text-decoration-none mx-2" href="{% url 'delete_product' product.id %}">Delete</a>
                        </p>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="row g-1" action="{% url 'add_to_bag' product.id %}"  method="POST">
                        {% csrf_token %}
                        {% if product.has_child_variants %}
                            <div class="col-12  text-center text-md-start">
                                <div class="d-flex flex-column align-items-center align-items-md-start">
                                    <label for="id_product_size" class="form-label mt-3 fs-3 fw-semibold">
                                        Litres
                                    </label>
                                    <select class="form-control rounded w-25" name="product_size" id='id_product_size'>
                                        <option value="050L">0.50</option>
                                        <option value="075L">0.75</option>
                                        <option value="500L">5.00</option>
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-12  text-center text-md-start">
                            <label for="id_qty_{{ product.id }}" class="form-label mt-3 fs-3 fw-semibold">
                                Quantity
                            </label>
                            <div class="inputParent inputParent-{{ product.id }} d-flex flex-row justify-content-center justify-content-md-start">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn rounded decrement-qty_{{ product.id }}"
                                        type="button" data-item_id="{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input id="id_qty_{{ product.id }}" type="number" class="w-25 form-control qty_input id_qty_{{ product.id }}"
                                    name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn rounded increment-qty_{{ product.id }}"
                                        type="button" data-item_id="{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center text-md-start">
                            <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-dark rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="text-center display-6 mb-3">Reviews</div>
            <hr>
        </div>
        <div class="row flex-md-column flex-lg-row">
            <div class="col-md-12 col-lg-6 justify-content-start align-content-center order-md-1 order-lg-0">
                {% if reviews %}
                    {% for review in reviews %}
                    <div class="card rounded-0 shadow-none{% if review.email == request.user.email %}{% if review.approved %} border-1 border-dark{% else %} border-1 borderHidden{% endif %}{% elif not review.approved and request.user.is_superuser or not review.approved and request.user.is_staff %} border-dark border-1 borderHidden{% else %} border-0{% endif %}">
                        <div class="row mx-0 card-header {% if review.email == request.user.email %}border-bottom border-dark{% else %}border-0{% endif %} rounded-0">
                            <div class="col-8 text-muted fw-lighter fs-6">
                                Posted by {{ review.name }} on {{ review.created_on }}
                                {% if review.id in verified_reviews %}
                                    <div class="mt-1 d-flex text-success align-items-bottom fw-bold">
                                        <svg height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
                                            <path d="m11 24c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2z"/>
                                            <path d="m18 24c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2z"/>
                                            <path d="m20.45 15.08-.04.17c-.11.44-.51.75-.97.75h-9.88c-.46 0-.86-.31-.97-.76l-1.56-6.24h3.34c-.2-.63-.32-1.29-.36-2h-3.48l-.18-.73c-.34-1.34-1.53-2.27-2.91-2.27h-2.44c-.55 0-1 .45-1 1s.45 1 1 1h2.44c.46 0 .86.31.97.76l2.24 8.97c.34 1.34 1.53 2.27 2.91 2.27h9.88c1.38 0 2.57-.93 2.91-2.26l.66-2.6c-.83.81-1.73 1.46-2.56 1.94z"/>
                                            <path d="m23.491 1.826-5.25-1.786c-.156-.054-.326-.054-.482 0l-5.25 1.786c-.305.103-.509.389-.509.71v4.018c0 4.904 5.474 7.288 5.707 7.387.188.079.398.079.586 0 .233-.099 5.707-2.483 5.707-7.387v-4.018c0-.321-.204-.607-.509-.71zm-2.205 3.792-2.75 3.5c-.35.447-1.006.512-1.436.142l-1.75-1.5c-.42-.359-.469-.991-.108-1.41.359-.419.991-.467 1.409-.108l.958.821 2.105-2.679c.341-.434.969-.511 1.404-.168.434.339.51.968.168 1.402z"/>
                                        </svg>
                                        <span class="ms-2">Verified Purchase</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-4 text-center">
                                {% for y in review.single_rating|get_range %}
                                    <span class="text-warning fa-solid fa-star"></span>
                                {% endfor %}
                                {% for i in review.single_rating|get_range_empty_star %}
                                    <span class="fa-regular fa-star"></span>
                                {% endfor %}
                                {% if review.email == user.email %}
                                    <p id="reviewId" data-reviewId="{{ review.id }}" class="text-dark fw-bold mb-1 mt-2 badge justify-content-center text-center"><i class="fa-solid fa-user"></i> My review</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div {% if review.email == user.email or user.is_staff or request.user.is_superuser %}class="col-8"{% endif %}>
                                    <h5 class="card-title">{{ review.title }}</h5>
                                    <p class="card-text">{{ review.body }}</p>
                                </div>
                                <div class="col-4 align-content-center justify-content-center">
                                {% if review.email == request.user.email %}
                                        <a class="my-1 d-block btn btn-sm btn-danger" href="{% url 'delete_review' review.id %}">Delete</a>
                                {% endif %}
                                {% if request.user.is_staff or request.user.is_superuser %}
                                    <a class="my-1 d-block btn btn-sm btn-info" 
                                    {% if review.approved %}
                                        href="{% url 'hide_review' review.id %}">Hide
                                    {% else %}
                                        href="{% url 'unhide_review' review.id %}">Unhide
                                    {% endif %}
                                    </a>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No reviews found for this product</p>
                {% endif %}
            </div>
            <div class="col-md-12 col-lg-6 order-md-0 order-lg-1">
                {% if reviewed and user.is_authenticated %}
                    <div class="accordion rounded-0 border border-dark" id="editReviewAccordion">
                        <div class="accordion-item rounded-0">
                            <h2 class="accordion-header rounded-0" id="headingOne">
                                <button class="accordion-button collapsed rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#editForm" aria-expanded="false" aria-controls="editForm">
                                    Edit your Review
                                </button>
                            </h2>
                            <div id="editForm" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#editReviewAccordion">
                                <div class="accordion-body">
                                    <h3>Edit your review:</h3>
                                    <p>Posting as:
                                        <h4>
                                            <span class="badge fw-normal{% if user.is_staff %} bg-primary {% else %} bg-success{% endif %} rounded-0">{{ user.username }}</span>
                                        </h4>
                                    </p>
                                    <form method="POST" style="margin-top: 1.3em;"">
                                        {{ review_form | crispy }}
                                        {% csrf_token %}
                                        <input id="reviewEditId" type="hidden" name="reviewEditId" value="">
                                        <button type="submit" class="btn btn-dark rounded-0 text-uppercase">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif user.is_authenticated %}
                    <div class="accordion rounded-0 border border-dark" id="editReviewAccordion">
                        <div class="accordion-item rounded-0">
                            <h2 class="accordion-header rounded-0" id="headingOne">
                                <button class="accordion-button collapsed rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#editForm" aria-expanded="false" aria-controls="editForm">
                                    Leave your Review
                                </button>
                            </h2>
                            <div id="editForm" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#editReviewAccordion">
                                <div class="accordion-body">
                                    <h3>Enter your review below:</h3>
                                    <p>Posting as:
                                        <h4>
                                            <span class="badge fw-normal{% if user.is_staff %} bg-primary {% else %} bg-success{% endif %} rounded-0">{{ user.username }}</span>
                                        </h4>
                                    </p>
                                    <form method="POST" style="margin-top: 1.3em;">
                                        {{ review_form | crispy }}
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-dark rounded-0 text-uppercase">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>You need to <a href="{% url 'account_login' %}">log in</a> to leave a review</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
    {% if reviewed %}
        {% include 'products/includes/review_id.html' %}
    {% endif %}
{% endblock %}