{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container header-container">
        <div class="row justify-content-evenly">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="shadow rounded card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="#">
                            <img class="shadow rounded card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0 fs-3 fw-bold">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <p class="container-fluid d-flex justify-content-evenly align-items-center text-center my-2">
                            <a href="{% url 'edit_product' product.id %}" class="text-info text-decoration-none mx-2">Edit</a> | 
                            <a class="text-danger text-decoration-none mx-2" href="{% url 'delete_product' product.id %}">Delete</a>
                        </p>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <form class="row g-1" action="{% url 'add_to_bag' product.id %}"  method="POST">
                        {% csrf_token %}
                        {% if product.has_child_variants %}
                            <div class="col-12  text-center text-md-start">
                                <div class="d-flex flex-column align-items-center align-items-md-start">
                                    <label for="id_product_size" class="form-label mt-3 fs-3 fw-semibold">
                                        Litres
                                    </label>
                                    <select class="form-control rounded w-25" name="product_size" id='id_product_size'>
                                        <option value="050L">0.50</option>
                                        <option value="075L">0.75</option>
                                        <option value="500L">5.00</option>
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-12  text-center text-md-start">
                            <label for="id_qty_{{ product.id }}" class="form-label mt-3 fs-3 fw-semibold">
                                Quantity
                            </label>
                            <div class="inputParent inputParent-{{ product.id }} d-flex flex-row justify-content-center justify-content-md-start">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn rounded decrement-qty_{{ product.id }}"
                                        type="button" data-item_id="{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input type="number" class="w-25 form-control qty_input id_qty_{{ product.id }}"
                                    name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn rounded increment-qty_{{ product.id }}"
                                        type="button" data-item_id="{{ product.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center text-md-start">
                            <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-dark rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="text-center display-6 mb-3">Reviews</div>
            <hr>
        </div>
        <div class="row">
            <div class="col justify-content-start align-content-center">
                {% if reviews %}
                    {% for review in reviews %}
                    <div class="card rounded-0 shadow-none {% if review.email == user.email %}border border-dark{% else %}border-0{% endif %}">
                        <div class="row mx-0 card-header {% if review.email == user.email %}border-bottom border-dark{% else %}border-0{% endif %} rounded-0">
                            <div class="col-8">Posted by {{ review.name }} on {{ review.created_on }}</div>
                            <div class="col-4 text-center">
                                {% for y in review.single_rating|get_range %}
                                    <span class="text-warning fa-solid fa-star"></span>
                                {% endfor %}
                                {% for i in review.single_rating|get_range_empty_star %}
                                    <span class="fa-regular fa-star"></span>
                                {% endfor %}
                            </div>
                            {% if review.email == user.email %}
                                <p id="reviewId" data-reviewId="{{ review.id }}" class="text-dark fw-bold mb-1 mt-2 pe-5 badge justify-content-end text-end"><i class="fa-solid fa-user"></i> My review</p>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ review.title }}</h5>
                            <p class="card-text">{{ review.body }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No reviews found for this product</p>
                {% endif %}
            </div>
            <div class="col">
                {% if reviewed and user.is_authenticated %}
                    <div class="accordion rounded-0" id="editReviewAccordion">
                        <div class="accordion-item rounded-0">
                            <h2 class="accordion-header rounded-0" id="headingOne">
                                <button class="accordion-button collapsed rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#editForm" aria-expanded="false" aria-controls="editForm">
                                    Edit your Review
                                </button>
                            </h2>
                            <div id="editForm" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#editReviewAccordion">
                                <div class="accordion-body">
                                    <h3>Edit your review:</h3>
                                    <p>Posting as:
                                        <h4>
                                            <span class="badge fw-normal{% if user.is_staff %} bg-primary {% else %} bg-success{% endif %} rounded-0">{{ user.username }}</span>
                                        </h4>
                                    </p>
                                    <form method="POST" style="margin-top: 1.3em;"">
                                        {{ review_form | crispy }}
                                        {% csrf_token %}
                                        <input id="reviewEditId" type="hidden" name="reviewEditId" value="">
                                        <button type="submit" class="btn btn-dark rounded-0 text-uppercase">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif user.is_authenticated %}
                    <div class="accordion rounded-0" id="editReviewAccordion">
                        <div class="accordion-item rounded-0">
                            <h2 class="accordion-header rounded-0" id="headingOne">
                                <button class="accordion-button collapsed rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#editForm" aria-expanded="false" aria-controls="editForm">
                                    Leave your Review
                                </button>
                            </h2>
                            <div id="editForm" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#editReviewAccordion">
                                <div class="accordion-body">
                                    <h3>Enter your review below:</h3>
                                    <p>Posting as:
                                        <h4>
                                            <span class="badge fw-normal{% if user.is_staff %} bg-primary {% else %} bg-success{% endif %} rounded-0">{{ user.username }}</span>
                                        </h4>
                                    </p>
                                    <form method="POST" style="margin-top: 1.3em;">
                                        {{ review_form | crispy }}
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-dark rounded-0 text-uppercase">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>You need to <a href="{% url 'account_login' %}">log in</a> to leave a review</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
    {% if reviewed %}
        {% include 'products/includes/review_id.html' %}
    {% endif %}
{% endblock %}